<div id="oneMovie">

<div>
    <img src="{{oneMovie.image}}" alt="imagen-Pelicula">
</div>
  <div>
    <a href="/movies">Go back</a>
    <h2>{{oneMovie.title}}</h2>
    <h3>Director: {{oneMovie.director}}</h3>
    <h4>Stars</h4>
    {{#each oneMovie.stars}}
      <li>{{this}}</li>
    {{/each}}

    <p>{{oneMovie.description}}</p>
    <div id="list">
    {{#each oneMovie.showtimes}}
    
      {{this}} |
      
    {{/each}}
    </div>


  </div>

</div>