<div>
    <h2>Ironhack Cinema</h2>
    <h3>Click on the movie to check the showtimes!</h3>

    {{#each movie}}
    <div>
     <a href="/movie/{{_id}}"><img src="{{image}}" alt="Imagen"></a>
    <a href="/movie/{{_id}}">{{title}}</a>
    <a href="/movie/{{_id}}">See more</a>
   </div>
    {{/each}}
</div>